*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

/*Navegação*/
a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    opacity: 0.5;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: #2F4F4F;
    height: 8vh;
    align-items: center;
}

.logo{
    width: 130px;
    height: 50px;
}

.logo img{
    width: 40%;
    padding-left: 20px;
}

.nav-list{
    display: flex;
    list-style: none;
    margin: 5px;
    padding-right: 30px;
}

.nav-list li {
    padding: 3px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    height: 2px;
    width: 32px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px){
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #2F4F4F;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }

    .nav-list li{
        margin-left: 0;
    }

    .mobile-menu{
        display: block;
    }
}

/*Home*/

.main{
    background:crimson;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.text{
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.image{
    width: 40%;
    float: right;
    display: flex;
    height: 80%;
    padding-top: 50px;
}

.image img{
    width: 95%;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

/*Sobre*/

section{
    display: flex;
    text-align: center;
    height: 100vh;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.about{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about h1{
    margin-top: 30px;
}

.about p{
    margin-bottom: 300px;
    text-align: center;
    margin-right: 20px;
}

.image-about{
    display: flex;
    position: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.image-about img{
    margin: 20px;
    border-radius: 10px;
}


/*Contato*/

.section2{
    background-color: crimson;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}

.contact h1{
    text-align: center;
}

.contact p{
    text-align: center;
    padding-top: 50px;
}

fieldset{
    width: 70%;
    text-align: center;
    background-color: #fff;
    color: #2F4F4F;
    border-radius: 20px;
}

textarea{
    width: 70%;
    border-radius: 10px;
}

.button-send{
    width: 104px;
    height: 50px;
    color:crimson;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.button-send:hover{
    background-color: #2F4F4F;
}